/******************************************************
 *	docs									*
\*****************************************************/


#pagenav {
	list-style: none;
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 90px 0px 0px 0px;
	text-align: right;
}
#pagenav li {
	padding:2px 0px;
	margin:0px;
}
#pagenav li a {
	padding: 2px 0px;
	display:block;
	text-decoration: none;
	font-size: 18px;
	color:#767676;
}
#pagenav li a:hover {
	text-decoration: none;
	color:#333;
	background: #E5E5E5;
}
#content {
	position: relative;
	margin-left: 255px;
}
#latest_version {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 15;
}
#latest_version a {
	font-size: 44px;
	text-decoration:none;
	color: #B76C29;
}
#content h2 {
	margin: 0px;
	font-size: 44px;
}
#content h3 {
	color: #545454;
	margin-top: 40px;
	border-top: 1px solid #CCC;
	padding-top: 10px;
	font-size: 22px;
}
#content h4 {
	color: #484848;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#content a img {
	border: none;
}

#content table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E5E5E5;
}
#content table th {
  border-bottom: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  font-weight:normal;
  color:#666;
}
#content table td {
  vertical-align: top;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 4px;
  text-align:left;
}

.warning {
	background:#E44F21;
	color: #FFF;
	padding: 10px;
	text-align: center;
}