/* Quirkey.css */
body {
	font-family: Georgia, Times, serif;
	background: #FFF;
	margin: 0px;
	color: #333;
}
h1, h2, h3 { 
	font-weight:normal;
}
h1 {
	font-size:36px;
}
h2 {
	margin: 10px 0px;
	font-size: 22px;
}
a:link, a:visited {
	color:#3C6A8F;
	text-decoration: underline;
}
a:hover {
	color:#333;
	text-decoration: underline;
}
a img {
	border:1px solid #E5E5E5;
}
#container {
	width: 100%;
}
#header_holder {
	text-align:center;
	border-bottom: 1px solid #E5E5E5;
}
#header {
	margin: 0px auto;
	width: 986px;
	text-align:left;
	position:relative;
	background:#FFF;
}
#logo {
	position: absolute;
	top: -118px;
	z-index: 100;
	cursor: pointer;
}
#header h1 {
	color:#797979;
	padding: 0px;
	margin: 0px 0px 10px 250px;
}
#header h1 a {
	text-decoration: none;
}
#quirkey_nav h1 {
	font-size:30px;
	color: #999;
}
#quirkey_nav h1 a {
	width: 100px;
}
#quirkey_nav h1 span.description {
	font-size: 12px;
	margin-left: 5px;
}
.quirkey_nav_close {
	height: 10px;
}
.quirkey_nav_close a {
	width: 100%;
	border-top: 1px solid #E5E5E5;
	text-decoration: none;
	color: #666;
	display:block;
	height: 10px;
	font-size: 11px;
}
.quirkey_nav_close a:hover {
	background:#F4F4F4;
}
#est {
	position: absolute;
	top: 10px;
	right: 20px;
}

#footer {
	border-top: 1px solid #E5E5E5;
	text-align:center;
	padding: 10px;
	font-size: 11px;
	color: #444;
}
#footer .quirkey_links {
	font-size: 14px;
}
#footer .quirkey_links span {
	padding: 0px 5px;
	color: #999;
}
#main {
	width: 986px;
	position: relative;
	margin: 30px auto;
}
#projects {
	padding:  0px;
}
.project {
	background: url(/images/bg_thumb.png) 0 0 no-repeat;
	width: 235px;
	height: 145px;
	margin: 0px;
	padding: 7px 0px 0px 7px;
	float:left;
}
.selected_project {
	background: url(/images/bg_thumb_glow.png) 0 0 no-repeat;
}

.category_list_holder {
	width: 48%;
	float: left;
}
.category_list ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	line-height: 140%;
}
.category_list li {
	float: left;
	margin: 0px 2px;
}
.category_select a {
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 4px 6px;
}
.category_select a:hover {
	border: 1px solid #E5E5E5;
	padding: 3px 5px;
}
.category_select.selected a {
	background: #0D7CE5;
	border: 1px solid #6E99E1;
	color: #FFF;
	padding: 3px 5px;
}
#project_holder {
	position:absolute;
	top: 0px;
	left: 110px;
	width: 756px;
	z-index: 100;
}
#project_shadow_holder {
	background: url(/images/project_shadow.png) 0 0 repeat;
}
.project_detail {
	width: 736px;
	background: #E0E3E3;
	margin: 5px auto 0px;
	position:relative;
	border: 1px solid #CCC;
}
.project_close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.project_close img {
	border:none;
}
.project_detail h3 {
/*	font-family: Helvetica, Arial, sans-serif;*/
	color: #333;
	margin: 0px;
	padding: 10px 20px;
	font-size: 26px;
	border-bottom: 1px solid #CCC;
}
.project_detail .project_image {
	margin: 20px;
	float:left;
}
.project_detail .project_description p {
	font-size: 12px;
	line-height: 140%;
	padding: 10px;
}
.project_meta {
	width: 220px;
	float:left;
	padding: 10px;
}
.project_detail h4 {
	font-weight: normal;
	color: #2A3F74;
	margin: 5px 0px;
	border-bottom: 1px solid #CCC;
}
.project_meta a:hover {
	background: #CCC;
}
.project_links ul {
	list-style-type: circle;
	color: #CCC;
	padding: 0px 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.project_links li {
	margin: 8px 0px;
}
.project_links a {
	text-decoration: none;
	padding: 5px;
}
.clear {
	font-size: 1px;
	line-height: 0px;
	clear:both;
}
.q_code, a.q_code:link, a.q_code:visited {
	color: #EADA68;
}
.q_portfolio, a.q_portfolio:link, a.q_portfolio:visited {
	color: #B76C29;
}
.q_log, a.q_log:link, a.q_log:visited {
	color: #22395B;
}
.q_blog, a.q_blog:link, a.q_blog:visited {
	color: #3C6A8F;
}
.q_com, a.q_com:link, a.q_com:visited {
	color: #72391E;
}
